<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr th:each="zadanieDto : ${zadanieList}">
        <td th:text="${zadanieDto.id}" />
        <td th:text="${zadanieDto.opis}" />
        <td th:text="${zadanieDto.datautworzenia}" />
        <td th:text="${zadanieDto.datazamkniecia}" />
        <td th:text="${zadanieDto.ukonczone}" />
     </tr>

</table>
</body>
</html>